---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingTable from "@components/pricing.astro";
import Logos from "@components/logos.astro";
import Faq from "@components/faq.astro";

changeLanguage("en");
---

<Layout title="Pricing">
	<Container>
		<Sectionhead>
			<Fragment slot="title">Pricing</Fragment>
			<Fragment slot="desc">Pricing for individuals and businesses of all sizes.</Fragment>
		</Sectionhead>

		<div class="gap-10 mt-20">
			<PricingTable />
		</div>
		<!-- <Logos /> -->
		<div class="mt-20">
			<Faq />
		</div>
	</Container>
</Layout>
